/* Couleurs */
:root {
  --white: #ffffff;
  --darkBlue: #091225;
  --black: #000000;
  --lightBlue: #005ef5;
}

/* Import de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

/* Réinitialisation des styles */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles globaux */
html {
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

body {
  background-color: #f4f5f8;
  background-size: cover;
  height: 100vh;
}

/* Styles de la barre de navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background-color: var(--white);
}

nav svg {
  fill: var(--black);
  width: 93px;
  height: 30px;
}

nav a.btn {
  color: var(--black);
  font-family: 'Eurostile Extended', sans-serif;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: left;
  transition: all 0.2s;
}

nav a.btn:hover {
  color: var(--black);
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  outline-offset: 0;
}

/* Styles du conteneur principal */
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles pour les titres */
h2 {
  text-align: center;
}

/* Styles pour la première section */
section {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
}

article {
  display: flex;
  float: right;
  background: var(--white);
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 200px;
  margin-right: 91px;
  height: 314px;
}

.article2 {
  background: var(--white);
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 314px;
  margin: 314px 125px 0px 91px;
  margin-block-end: 31;
  width: 66%;
  height: 321px;
}

.article3{
  background: var(--white);
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
  margin: 91px 91px 0px 125px;
  width: 66%;
  height: 321px;
}

.article4 {
  /* Styles pour article4 */
  background: var(--white);
  margin-right: 350px;
  margin-left: 350px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.article5 {
  margin-top: 160px;
}


.p1 {
  width: 66%;
  margin-top: 91px;
}

/* Styles pour les images */
img {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  height: 314px;
}



.containerCanva {
  width: 600px;
  height: 321px;
}

.fade-up {
  display: flex;
  position: absolute;
  background: rgba(80, 130, 192, 1);
  margin: 20px;
  border: 1px solid var(--darkBlue);
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  text-align: center;
}

.titre {
  display: flex;
  width: 100%;
  height: 390px;
  border-left: 60px;
  border-right: 65px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.fond {
  background-color: var(--lightBlue);
  width: 100%;
  height: 597px;
  padding: 70px 125px 100px 125px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styles pour la deuxième section */
.grid-item2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 125px;
}

/* Styles pour l'élément .article2 dans la deuxième section */

.grid-item3{
  display: flex;
  flex-direction: center;
  align-items: center;
  margin-left: 125px;
  margin-right: 125px;
}

.grid-item4{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* Styles pour le paragraphe .p2 dans la deuxième section */
.p2 {
  margin-top: 200px;
  width: 66%;
  margin-top: 91px;
}

/* Styles pour les images */

/* Styles pour l'image à l'intérieur de .image */
.image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  
}

.image img.imgubi {
  border-radius: 10px;
  width: 100%;
  height: auto;
  
}

.image {
  display: flex;
  align-items: center;
  margin-top: 91px;
  
}

.jeuxubi{
  height: 314px;
  width: 33%;
  margin-top: 91px;
}

.image-realité{
  margin-right: 125px;
  margin-top: 91px;
}

.graphique1{
  background: var(--white);
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
  margin: 160px 91px 0px 125px;
  width: 66%;
  height: 321px;
}
