@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --darkBlue: #091225;
  --black: #000000;
  --lightBlue: #005ef5;
}
body {
  background-color: #f4f5f8;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background-color: var(--white);
}

nav svg {
  fill: var(--black);
  width: 93px;
  height: 30px;
}

nav a.btn {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

nav a.btn:hover {
  color: var(--black);
  transform: scale(1.3);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}

.container .content {
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  overflow: hidden;
}

.container .content:nth-child(even) {
  flex-direction: row-reverse;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  padding: 10px 20px;
}

.content img {
  width: 60%;
}


.fond {
  background-color: var(--lightBlue);
  width: 100%;
  padding: 50px 100px;
}

.fond div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px 50px;
  border-radius: 20px;
}