* {
  box-sizing: border-box; 
}

:root {
    --black: #292523;
    --darkred: #9b1e1f;
    --red: #b22420;
    --lightgrey: #cfd2dc;
    --white: #f3f5fa;

}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: var(--black);
    background: radial-gradient(circle, var(--lightgrey) 0%, var(--black) 100%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: var(--lightgrey);
    color: var(--black);
}
nav svg {
    fill: var(--black);
    width: 93px;
    height: 30px;
}
nav a.btn {
    color: var(--black);
    font-family: 'Eurostile Extended', sans-serif;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: left;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
nav a.btn:hover {
    transform: scale(1.2);
}

.image1{
    margin-right: 25px; 
}
.image2 {
  margin-left: 25px;
  width: 10vw;
  height: 15vh;
}
.image3{
  margin-left: 25px;
  width: 10vw;
  height: 10vh;
}
.image4{
  margin-right: 25px;
  width: 15vw;
  height: 25vh;
  background-color: var(--white);
}
img {
    border-radius: 20px;
    border: 2px solid var(--darkred);
    height: 30vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium; 
    margin-left: 15px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: 700;

}

.Page {
    position: relative;
    margin: 0 auto;
    
  }

.Page::after {
    content: "";
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    background-color:var(--darkred);
  }
.Page-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 1;
  }
.Page-container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--lightgrey);
    border: 4px solid var(--red);
    top: 15px;
    border-radius: 50%;
  }
.Page-left {
    left: 0; 
  }
.Page-right {
    left: 50%;
  }
.Page-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    border: medium solid var(--darkred);
    border-width: 10px 0 10px 10px;
    border-color: transparent var(--darkred);
    z-index: 2;
  }
.Page-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid var(--darkred);
    border-width: 10px 10px 10px 0;
    border-color:transparent var(--darkred);
    z-index: 1;
  }
.Page-right::after {
    left: -17px; 
  }
.Page-content {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  background-color: var(--lightgrey);
  border-radius: 15px;
  border: 3px var(--darkred) solid;
  }
.Page-left::after{
  align-items: center; 
}
.Page-content-no-img{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--lightgrey);
  border-radius: 15px;
  border: 3px var(--darkred) solid;
}

  @media screen and (max-width: 600px) {
    .Page::after {
      left: 31px;
    }
    .Page-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .Page-container::before {
      left: 60px;
      border: medium solid var(--white);
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--white) transparent transparent;
    }
    .Page-left::after{
      left: 15px;
    }
    .Page-right {
      left: 0%;
    }
  }
  
